body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgoldenrodyellow;
}

.wrapper{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

#title {
    display: flex;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    margin-top: 10px;
    margin-bottom: 20px;
    /* width: 1200px; */
}

#title div{
    padding: 4px;
}

.title__name {
    color: #555555;
    margin: 2px;
}

.title__badge {
    color: #ffffff;
    background-color: #555555;
    border-radius: 3px;
    
}

.table{
    list-style: none;
    font-size: 12px;
    background-color: azure;
}

.table li:first-child{
    font-weight: bold;
}
li span{
    border: black 1px solid;
}

li span:first-child{
    font-weight: bold;
}
.flex-container-row{
    background-color: aliceblue;
}

[class *="flex-container"] {
    display: flex;
}

.flex-container-pcs {
    flex-direction: row;
    flex-wrap: wrap;
    background-color: azure;
}

.flex-container-pcs img {
    height: 200px;;
    border: black 1px solid;
    margin: 2px;
    background-color: aliceblue;

}
.jumbotron {
    background-color: lightgrey;
    font-size: 12px;
    margin-top: 20px;
}

.jumbotron p:first-child{
    font-size: 32px;
}

@media screen and (max-width: 768px;){
    .jumbotron{
    }
}